/* === Reset === */
/* 
Resoures: 
https://www.joshwcomeau.com/css/custom-css-reset/ 
https://andy-bell.co.uk/a-modern-css-reset/
*/

/* Apply the border-box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
/* Forces fonts to be reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  font-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Test this to see if the * works, if so delete */
input,
textarea,
button,
select {
  font-family: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
