/************************************************************************/
/*--------------------------ROOT----------------------------------------*/
/************************************************************************/

:root {
  /* COLORS */
  --primary-color: #fafafa;
  --text-color: #2d2d2d;

  --secondary-color: #ff3821;
  --secondary-color-tint: #ff604d;
  --secondary-color-tint-transparent: #ff5f4d27;
  --secondary-color-shade: #cc2d1a;

  --accent-color: #333333;

  --grey-light: #999;
  --grey-extra-light: #bbb;

  /* TYPEFACE */
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Urbanist", sans-serif;

  /*FONT STEPS - 1.333 Perfect Fourth Scale*/
  --step--2: 0.563rem;
  --step--1: 0.75rem;
  --step-0: 1rem;
  --step-1: 1.333rem;
  --step-2: 1.777rem;
  --step-3: 2.369rem;
  --step-4: 3.157rem;
  --step-5: 4.209rem;
  --step-xl: 5.61rem;
  --step-xxl: 7.48rem;

  /*SPACING*/
  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 3rem;
  --space-xl: 5rem;
  --space-2xl: 8rem;
  --space-3xl: 13rem;
  /* 1,1.5,2,3,4,8 */

  /* FONT WEIGHTS */
  --bold: 700;

  /*LETTER SPACING*/
  --letter-space-base: 0.2rem;

  /* BORDER RADIUS */
  --smooth: 7px;

  /*Z-Transform*/
  --small: translateZ(1rem);
  --medium: translateZ(2rem);
  --large: translateZ(3rem);
}

/*

WHITESPACE 
--2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


LINE HEIGHTS

LETTER SPACING 



Margins
--Top
--Sides
--Bottom: 
*/
