/************************************************************************/
/*--------------------------VARIABLES-----------------------------------*/
/************************************************************************/

:root {
  /* COLORS */

  --primary-clr: #ff351f;
  --primary-clr-tint: #ff604d;
  --primary-clr-shade: #cc2d1a;

  --secondary-clr: #ff3821;
  --secondary-clr-tint: #ff604d;
  --secondary-clr-shade: #cc2d1a;

  --text-clr: #2d2d2d;

  --white-clr: #fafafa;
  --black-clr: #333;

  --grey-clr: #666;
  --grey-clr-light: #999;
  --grey-clr-extra-light: #bbb;

  /* TYPEFACE */
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Urbanist", sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);

  /*FONT STEPS - 1.333 Perfect Fourth Scale*/
  --step--2: 0.563rem;
  --step--1: 0.75rem;
  --step-0: 1rem;
  --step-1: 1.333rem;
  --step-2: 1.777rem;
  --step-3: 2.369rem;
  --step-4: 3.157rem;
  --step-5: 4.209rem;
  --step-6: 5.61rem;
  --step-7: 7.48rem;

  --fs-body: var(--step-0);
  --fs-heading: var(--step-4);
  --fs-subheading: var(--step-2);

  /*SPACING*/
  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 3rem;
  --space-xl: 5rem;
  --space-2xl: 8rem;
  --space-3xl: 13rem;
  /* 1,1.5,2,3,4,8 */

  /* FONT WEIGHTS */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* BORDER RADIUS */
  --border-smooth: 7px;
  --border-sharp: 3px;
  --border-circle: 50%;

  /*LETTER SPACING*/
  --letter-space-base: 0.2rem;

  /*LINE HEIGHTS*/

  /* MARGINS */

  /* PADDINGS */

  /* SHADOWS */

  /*Z-Transform*/
  --small: translateZ(1rem);
  --medium: translateZ(2rem);
  --large: translateZ(3rem);
}

/************************************************************************/
/*-------------------------UTILITY CLASSES------------------------------*/
/************************************************************************/

/* COLORS */

.primary-clr {
  color: var(--primary-clr);
}
.primary-clr-tint {
  color: var(--primary-clr-tint);
}
.primary-clr-shade {
  color: var(--primary-clr-shade);
}

.secondary-clr {
  color: var(--secondary-clr);
}
.secondary-clr-tint {
  color: var(--secondary-clr-tint);
}
.secondary-clr-shade {
  color: var(--secondary-clr-shade);
}

.white-clr {
  color: var(--white-clr);
}
.black-clr {
  color: var(--black-clr);
}

/* TYPEFACE */

.ff-primary {
  font-family: var(--ff-primary);
}
.ff-secondary {
  font-family: var(--ff-secondary);
}

.ff-heading {
  font-family: var(--ff-heading);
}
.ff-body {
  font-family: var(--ff-body);
}

/* FONT STEPS */
.fs-body {
  font-size: var(--fs-body);
}
.fs-heading {
  font-size: var(--fs-heading);
}
.fs-subheading {
  font-size: var(--fs-subheading);
}

/* FONT WEIGHTS */
.fw-thin {
  font-weight: var(--fw-thin);
}
.fw-light {
  font-weight: var(--fw-light);
}
.fw-normal {
  font-weight: var(--fw-normal);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
